.git
.github
.idea
.vscode
.zed
.osp
node_modules
vendor
public/build
public/hot
public/storage
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
*.md
.env
.env.backup
.env.production
